p{
    font-family: arial;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;



}
.poster{
    width: 300px;
    height: 450px;
    border: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
    



}
.anandhakumar{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.name{
    font-size: 25px;
    font-weight: bold;
    

}
.button{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(33, 30, 250);
    border: none;
    color: white;
    font-size: 17px;
    margin-top: 5px;
    margin-left: 5px;

}