.box{   
    width: 450px;
    border: solid;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.anand{
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
    vertical-align: middle;
}

.search-bar{
    font-size: 18px;
    border: none;
    width: 300px;
    vertical-align: middle;
}

.tweet{
    vertical-align: middle;
    background-color:rgb(29, 155, 240);
    border: none;
    height: 30px;
    width: 70px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}