.ex2{
    font-size: 40px;
    font-family: arial;
    margin-bottom:0;
}
.ex2a{
    font-size: 30px;
    font-family: arial;
    color: rgb(209, 9, 9);
    margin-top: 2px;
    font-style: italic;

}