.shadow{
    color: white;
    background-color:rgb(2, 151, 2);
    height: 32px;
    border: none;
    height: 32px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.shadow:active{
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: none;
}