.back-to-amazon{
    color: rgba(1, 77, 77, 0.733);
    cursor: pointer
    ;
}
.back-to-amazon:hover{
    color: brown
    ;
}
.price{
    color: rgb(3, 121, 3);
}
.add-to-cart{
    color: black;
    background-color: rgb(255, 255, 0);
    border: none;
    height: 32px;
    width: 120px;
    border-radius: 20px;

}
.add-to-cart:hover{
    background-color: rgb(184, 184, 14);

}

.buy-now{
    background-color: orange;
    border: none;
    height: 32px;
    width: 120px;
    border-radius: 20px;
    margin-left: 10px;

}
.buy-now:hover{
    background-color: rgb(189, 124, 4);
}